@import url('https://fonts.googleapis.com/css2?family=Sekuya&display=swap');
:root {
    --base-color: #ffffff;
    --text-color: #000000;
    --primary-color: #669999;
    --secondary-color: #666699;
    --color-1: #F9F6F3;
    --color-2: #F3F7F9;
    --color-3: #F6F3F9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: "Sekuya", system-ui;
    color: var(--text-color);
}
body {
    padding: 1em;
    background-color: var(--base-color);
}
h1, h2, h3 {
    font-family: "Sekuya", system-ui;
    color: var(--text-color);
}
body {
    padding: 1em;
    background-color: var(--base-color);
}
h1, h2, h3 {
    font-family: "Sekuya", system-ui;
}
nav {
    margin: 1em auto 3em auto;
    width: min(1000px, 100%);
}
nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2em;
}

nav li:first-child {
    margin-right: auto;
    font-family: "Sekuya", system-ui;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
}

nav a:hover {
    text-decoration: underline;
}

header, section {
    margin: 2em auto;
    width: min(75em, 100%);
    background-color: var(--color-1);
    padding: min(2em, 15%);
    border-radius: 1em;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
}
header img {
    max-width: 100%;
    border-radius: 1em;
    object-fit: cover;
    object-position: bottom;
}
text.container {
    flex: 0 1 34em;
}

h1 {
    font-size: 2.5rem;
}

.text-container p {
    margin: .75em 0 1em 0;
}

.cta-button {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: var(--primary-color);
    padding: .75em 1.25em;
    border-radius: .5em;
    font-weight: 600;
}

.secondary {
    background-color: var (--secondary-color);
}

section {
    padding: 3em min(2em, 15%);
    background-color: var(--color-2);
    text-align: center;
}

h2 {
    font-size: 2rem;
}

section p {
    margin-top: 1em;
    font-size: 1.25rem;
}

section#gallery {
    background-color: var(--color-3);
}

.grid-container {
    margin-top: 3em;
    margin-bottom: 3em;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "img-1 img-1 img-2 img-3"
    "img-1 img-1 img-4 img-5";
    gap: 1em
}

.grid-container img {
    height: 100%;
    width: 100%;
    border-radius: .5em;
    transition: 100ms ease;
}

.grid-container img:hover {
    scale: 1.05;
}

details {
    margin-top: 1em;
    background-color:var(--base-color);
    border-radius: 1em;
}

details summary {
    padding: 1em;
    font-size: 1.7rem;
    font-family: "Sekuya", system-ui;
}

details p {
    padding: 0 2em 2em 2em;
    text-decoration: underline;
}

@media(max-width:988px){
    header {
        text-align: center;
    }

    header .text-container {
        padding-top: 0;
    }
}

@media(max-width: 640px) {
    nav li {
        display :none;
    }

    nav li:first-child,
    nav li:last-child {
        display: block;
    }
}

header {
    margin-top: 0;
}

.cta-button {
    margin-top: .5em;
}

.grid-container {
    display: flex;
    flex-direction: column;
}

.text-container p {
    font-size: 1rem;
}

h2 {
    font-size: 1.5rem;
}

.gallery-grid-container img {
    height: 100%;
    width: 100%;
    border-radius: .5em;
    transition: 100ms ease;
}

.gallery-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
margin: 40px 20px 0 20px;
}

.container .heading{
    width: 50%;
    padding-bottom: 50px;
}

.gallery-container .heading h2{
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 3px solid #222;
}

.gallery-container .heading h2 span{
    font-weight: 100px;
}

.gallery-container .gallery-box {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.gallery-container .gallery-box .dream{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.gallery-container .gallery-box .dream img{ 
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
}

.gallery-container .btn {
    margin: 40px 0 70px 0;
    background: #222;
    padding: 15px 40px;
    border-radius: 5px;
}

.gallery-container .btn a{
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 3px;
}

@media only screen and (max-width: 769px){
    .gallery-container .gallery-box {
    flex-direction: column;
    }

    .gallery-container .gallery-box .dream{
    width: 100;
    }
}


@media only screen and (max-width: 643px){
        .container .heading{
    width: 100%;
    }

    .gallery-container .heading h2{
    font-size: 1em;
    }
}

